.inner-contents {
    padding: 20px;

    .breadcrumb {
        font-size: 15px;
        font-weight: 600;

        a {
            color: #897E7E;
            margin-right: 5px;
        }
    }

    .add-user {
        background: #FFF2D0;
        padding: 12px;
        margin-bottom: 10px;

        .search-bar {
            width: 375px;
            max-width: 350px;
            position: relative;
            background: #FDEBBC;

            @media(max-width: 545px) {
                width: 150px;
            }

            input {
                background: #FDEBBC;
                border-radius: 6px;
                border: none;
            }
        }
    }

    .user-table {
        .table {

            thead {
                tr {
                    background: #FFEEC3;
                    border-bottom: 1px solid #A28A66;

                    th {
                        padding: 15px;
                    }
                }
            }

            .table-body {

                tr {

                    td {
                        padding: 15px;
                        background: #FFF2D0;
                        border: none;
                        height: 100%;

                        .name,
                        .email,
                        .date {
                            font-weight: 600;
                            font-size: 15px;
                            color: #897E7E;
                            padding: 5px 0;
                        }

                        .select-opt {
                            border: none;
                            background: transparent;
                            min-width: 80px;
                            color: #219653;

                            span {
                                font-size: 20px;
                            }

                        }

                    }

                    td.blank {
                        background: transparent;
                        padding: 5px 0;
                    }
                }
            }
        }
    }

    .notification {
        .noti-card {
            background: #FFF2D0;
            padding: 10px 20px;
            margin-bottom: 15px;
        }
    }

    .pagination {
        .nav-btn {
            &.active {
                background: rgba(#000000, 0.05);
                border: none;
            }
        }
    }

    // customer page
    .customers {
        .customer-card {
            background: #FFF2D2;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            padding: 25px 30px;
            margin-bottom: 15px;

            .name,
            .number,
            .location,
            .gender,
            .email,
            .date {
                font-weight: 600;
                font-size: 20px;
                padding-bottom: 15px;

                span {
                    display: inline-block;
                    width: 25px;
                    margin-right: 3px;
                }
            }


        }
    }

    // add use page
    .user-input {
        max-width: 780px;

        @media(max-width: 767px) {
            padding: 10px;
        }

        .custom-input,
        .select-input {
            width: 100%;
            background: #FDF3D0;
            border: 1px solid rgba(55, 25, 0, 0.3);
            border-radius: 6px;
            padding: 15px;
            margin-bottom: 10px;
        }

        .cancel-button {
            width: 175px;
            height: 48px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            font-weight: 600;
            font-size: 20px;
            color: #371901;
            border: 2px solid #371901;
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
            border-radius: 20px;
            margin: 0 5px;
        }

        .add-button {
            width: 175px;
            height: 48px;
            background: #371901;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            font-weight: 600;
            font-size: 20px;
            color: #fff;
            margin: 0 5px;
        }
    }

    // product add page -- categories-1
    .product-add-sections {

        .add-header {
            background: #371901;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            color: #fff;
            font-weight: 600;
            font-size: 20px;
            padding: 15px;

            .btn {
                padding: 0;
                margin: 0;
                background: transparent;
                color: #fff;
                padding: 0 10px;
            }
        }

        .custom-input {
            width: 100%;
            padding: 18px;
            margin-block: 8px;
            background: #FDF3D0;
            border: 1.5px solid rgba(55, 25, 0, 0.3);
            border-radius: 6px;
        }

        .download {
            display: inline-block;
            border: 1px solid #00000049;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            i {
                font-size: 20px;
            }
        }

        .cancel-buton {
            background: #01371600;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            padding: 5px 10px;
            color: #371901;
            font-weight: 500;
            font-size: 20px;
            border: 2px solid #371901;
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
            border-radius: 20px;
            margin: 0 5px;
        }

        .create-buton {
            background: #371901;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            margin: 0 5px;
            padding: 5px 10px;

            color: #fff;
            font-weight: 500;
            font-size: 20px;
        }
    }

}