.navbar-4 {
    .navbar-brand {
        .brand-logo {
            max-width: 220px;
        }
    }
    .navbar-collapse{
        @media(max-width: 991px) {
          position: absolute;
          z-index: 999;
          top: 100%;
          width: 100%;
          padding: 10px;
          background: #ffffff41;
          backdrop-filter: blur(10px);
        }
    }
    .navbar-nav .nav-link {
        font-weight: 700;
        font-size: 19px;
        color: #000000;

        @media(min-width: 1200px) {
            margin-inline: 20px;
        }

        @media(max-width: 991px) {
        font-size: 15px;
        }
        &:hover {
            color: #F9A51A;
        }

        &.active {
            color: #F9A51A;
        }
    }

    .auth-btn {
        font-weight: 700;
        font-size: 24px;
        border: 3px solid #371900;
        border-radius: 20px;
        background: transparent;
        color: #371900;
        padding: 5px 30px;

        @media(max-width: 991px) {
            font-size: 20px;
        }

        &:hover {
            background-color: #F9A51A;
            color: #ffffff;
        }
    }
}

.nav-with-banner {
    padding-top: 60px;
    background: url(../images/bg1.png) no-repeat top right/cover;
    @media(max-width: 991px) {
        padding-top: 0;
    }
    .home-banner {
        padding-top: 120px;
        @media(max-width: 767px) {
            padding-top: 60px;
        }

        .wrapper {
            min-height: 700px;
            @media(max-width: 767px) {
                min-height: 550px;

            }

            .title {
                font-weight: 700;
                font-size: 40px;
                line-height: 49px;
                color: #371900;
                padding-bottom: 16px;

                @media(max-width: 767px) {
                    font-size: 25px;
                }
            }

            .subt {
                font-weight: 600;
                font-size: 35px;
                line-height: 43px;
                color: #371900;
                padding-bottom: 20px;
                @media(max-width: 767px) {
                    font-size: 20px;
                }
            }

            .description {
                font-weight: 400;
                font-size: 30px;
                line-height: 37px;
                color: #371900;

                @media(max-width: 767px) {
                    font-size: 18px;
                    line-height: 25px;
                }
            }

            .buttons {
                padding-top: 120px;

                @media(max-width: 767px) {
                    padding-top: 60px;
                }
            }
        }

    }
}