.error,
.loading {
    padding-top: 150px;
    text-align: center;
    background: url(../images/footer-bg.png) no-repeat bottom center/cover;


    h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        padding-bottom: 55px;
        color: rgba(55, 25, 0, 0.5);
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
        color: #000000;
        padding-bottom: 40px;
    }
}