.login-modal {
    .modal-dialog {
        max-width: 760px;

        .modal-content {
            padding: 20px;
            background: #FBE7B7;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            border-radius: 30px;

            .modal-body {

                .modal-text-fixed {
                    height: 550px;
                    overflow-y: scroll;
                }

                p {
                    font-size: 24px;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    color: #371900;

                    @media(max-width: 767px) {
                        font-size: 18px;
                        line-height: 22px;
                    }

                    a {
                        color: #F9A51A;

                    }
                }
            }
        }
    }
}