.newsletter {
    background: url(../images/bg4.png) no-repeat center center/cover;
    padding: 150px 0;

    .wrapper {
        max-width: 720px;
        margin: auto;
        padding: 10px;

        .heading {
            font-weight: 700;
            font-size: 50px;
            color: #FFFFFF;

            @media(max-width: 767px) {
                font-size: 30px;
            }
        }

        p {
            font-weight: 500;
            font-size: 32px;
            color: #FFFFFF;
            padding-bottom: 50px;

            @media(max-width: 767px) {
                font-size: 20px;
            }
        }

        input {
            background: #FDEBBC;
            border-radius: 10px 0px 0px 10px;
            height: 64px;

            @media(max-width: 767px) {
                height: 40px;
            }
        }

        button {
            background: #371900;
            border-radius: 0px 10px 10px 0px;
            color: #FFFFFF;
            height: 64px;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media(max-width: 767px) {
                height: 40px;
                font-size: 20px;
            }
        }
    }
}