.feed {
    background: url(../images/feed.png) no-repeat center center/cover;
.heading{
    padding-top: 50px;
}
    .left {
        padding: 120px 150px 180px;

        @media(max-width: 992px) {
            padding: 20px;
        }

        .swiper {
            width: 100%;
            height: 100%;
            padding-inline: 40px;
            position: relative;

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                }
            }

            .swiper-button-next::after {
                font-size: 25px;
                font-weight: 700;
                color: #371900;
            }

            .swiper-button-prev::after {
                font-size: 25px;
                font-weight: 700;
                color: #371900;
            }

            // .swiper-button-next {
            //     // top: 520px;
            //     left: 50px;
            //     z-index: 99;
            //     background: var(--sky-blue);
            //     color: #fff;
            //     padding: 10px 20px;


            // }

            // .swiper-button-prev {
            //     // top: 520px;
            //     left: 0px;
            //     z-index: 99;
            //     color: #fff;
            //     padding: 10px 20px;


            //     // @media(max-width: 390px) {
            //     //     left: calc(50% - 30px);
            //     //     transform: translateX(-50%);
            //     //     top: 420px;
            //     // }
            // }
        }
    }
}